ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.title-container {
  width: 100%;
  text-align: center;
  margin-left: 35px;
}

.title-container span {
  color:black;
}

.title-container h1 a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}